@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Philosopher:wght@400;700&family=Roboto:wght@400;700&display=swap');



* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight:  300;
}

/* body {
    background: url(./img/7047b702475924ba8f8044b5b5ca56ba.jpeg);
} */

.header_title{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.text {
    margin-top: 20px;
    float: right;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    text-indent: 50px;
    margin-bottom: 50px;
}

.chrono-text {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.news{
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-weight: 600;
}



.button-class {
    margin-top: 50px;
    text-align: center;
}

.button1 {
    width: 90px;
    height: 45px;
    margin-right: 20px;
    
}

.button1:last-child{
    margin-right: 0;
}


.image {
    width: 30%;
    height: 30%;
    /* margin-right: 20px; */
}

/* .image:last-child {
    margin-right: 0;
} */

.photos {
    margin-top: 50px;
    margin-left: 650px;
    position: relative;
    margin-bottom: 100px;
}

.image1 
    { top: 50px; left: 55px; z-index: 5; position: absolute; }

.image2 
    { left: -120px; top: 25px; z-index: 2; position: absolute;}

.image3 
    { left: -295px; z-index: 1; position: absolute; }

.button-class2 {
    margin-top: 50px;
    text-align: center;
}
    

